*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: serif;
}
.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto 50px auto 50px;
    align-items: center;
}
.logo-image {
    width: 150px;
}
.aboutus-arrow-image {
    width: 80px;
}
.aboutus-arrow-container {
    text-align: center;
}
.logo-container {
    text-align: center;
    padding-top: 10px;
}
.navigation-container {
    display: flex;
    justify-content: space-between;
}
.navigation-element {
    padding: 10px;
    font-size: 24px;
    color: black;
}
.wine-section {
    display: flex;
    margin: 10px;
}
.petanque-section {
    display: flex;
    margin: 10px;
}
.page-image {
    width: 100%;
}
.page-image:hover {
    opacity: 0.7;
}
.link {
    text-decoration: none;
}
.aboutus-image {
    width: 70%;
}
.aboutus-image-container {
    text-align: center;
}
.aboutus-information {
    margin-left:50px;
    margin-right: 50px;
}
@media only screen and (min-width:600px){
    .header-container {
        justify-content: space-between;
        flex-direction: row;
    }
    .menu-container {
        display: flex;
        flex-direction: row;
    }
    .wine-section {
        margin: 10px 5px 10px 10px;
    }
    .petanque-section {
        margin: 10px 10px 10px 5px;
    }
    .navigation-element {
        padding: 20px;
        font-size: 34px;
    }
    .aboutus-arrow-image {
        width: 150px;
        margin-bottom: 10px;
    }
    .aboutus-image {
        width: 700px;
    }
    .aboutus-container{
    margin:50px 200px 50px 200px;
    }
    .aboutus-information {
        font-size: 32px;
    }
}
