*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: serif;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.navigation-container {
    margin-right: 80px;
}
.navigation-element {
    font-size: 32px;
    margin-right: 20px;
    color: black;
}
.navigation-element:hover {
    opacity: 0.7;
}
.logo-container {
    margin-left: 100px;
}
.logo-image {
    width: 85px;
}
.link {
    text-decoration: none;

