main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 50px 20px 50px;
    height: 100%;
    width: 100%;
}

body {
    align-content: center;
    width: 100%;
}
.searchbar {
    padding: 2px;
    margin-top: 8px;
    width: 20%;
    margin: 10px auto 10px auto;

}

.searchbar-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #d4bae8;
}

.some-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #d4bae8;
}

.sidebar-container {
    text-align: center;
}

.wineresults-container {
    display: flex;
    flex-wrap: wrap;
}

.winebottle-image {
    width: 200px;
    margin-right: 20px;
}

.category-container {
    display: flex;
    flex-direction: column;
}

.year-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.country-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.category-button {
    color: #d4bae8;
    font-size: 28px;
}
.top-button {
    font-size: 32px;
}
.top-button:hover {
    opacity: 0.7;
}
.wine-type {
    color: black;
    font-size: 20px;
}
.wine-type:hover {
    opacity: 0.7;
}
.wine-year {
    color: black;
    font-size: 20px;
}
.wine-year:hover {
    opacity: 0.7;
}
.wine-country {
    color: black;
    font-size: 20px;
}
.wine-country:hover {
    opacity: 0.7;
}
.view-more {
    color: black;
    font-size: 20px;
}
.view-more:hover {
    opacity: 0.7;
}
@media only screen and (min-width:600px) {

    .wineresults-container {
        flex-direction: row;
        width: 100%;
    }

    .some-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .searchbar-container {
        flex-direction: column;
    }

    .sidebar-container {
        width: 20%;
    }

    main {
        justify-content: space-around;
        margin-bottom: 11%;
    }
    .winebottle-image {
        width: 400px;
    }
}
